In [ ]:
"""
Warm-up 1: Cho một danh sách sản phẩm như sau:
products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}
Viết chương trình hiển thị các sản phẩm có giá bé hơn hoặc bằng so với giá tiền mà người dùng nhập
"""

In [13]:
income = int(input("Nhập vào thu nhập của bạn: "))

products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}

for value in products.values():
    if value <= income:
        print(key, '-', value)

Nhập vào thu nhập của bạn:  456

class - 400

In [41]:
income = int(input("Nhập vào thu nhập của bạn: "))

products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}

for value in products.values():
    if value <= income:
        print(key)

Nhập vào thu nhập của bạn:  456

class

In [ ]:
budget = int(input("Nhập vào budget của bạn: "))

products = {
    'SMART WATCH': 550,
    'PHONE' : 1000,
    'PLAYSTATION': 500,
    'LAPTOP' : 1550,
    'MUSIC PLAYER' : 600,
    'TABLET' : 400 
}

for value in products.values():
    if value <= income:
        print(key)

In [ ]:
"""
Warm-up 2: 
"""

## Bài 1: list to dict
Cho 2 list có cùng số phần tử với nhau. Hãy tạo ra một dict từ 2 list đã cho theo format dưới đây:

**Input**

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

**Output**

In [ ]:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

**Your code**

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
# code below this line

# code above this line

In [1]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

new_dict ={}
for i in range(len(keys)):
    key[i] values[i]
    new_dict[keys[i]] = values[i]
    
print(new_dict)

SyntaxError: invalid syntax (4060369001.py, line 6)

## Bài 2: merge dictionary
Hãy gộp 2 dictionary sau đây thành một.

**Input**

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Output**

In [ ]:
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

**Your code**

In [2]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
# code below this line
dict1.update(dict2)

print(dict1)
# code above this line

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

## Bài 3: where is the value?
Hãy in ra giá trị của "history" trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

**Output**

In [ ]:
80

**Your code**

In [ ]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}
# code below this line

# code above this line

In [8]:
sampleDict = { 
   "class":{ 
      "student":{ 
         "name":"Mike",
         "marks":{ 
            "physics":70,
            "history":80
         }
      }
   }
}

print(sampleDict['class']['student']['name']['mark']['history'])

KeyError: 'mark'

## Bài 4: Delete set of keys from a dictionary
Hãy xóa các key có trong set dưới đây ra khỏi dictionary.

**Input**

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}

**Output:**

In [ ]:
{'city': 'New york', 'age': 25}

**Your code**

# 
Chúng ta có 4 phương pháp để xóa phần tử trong dictionary python như sau:

phương thức pop(): Trích xuất và xóa phần tử được chỉ định
phương thức popitem(): Lấy và xóa các phần tử một cách ngẫu nhiên
câu lệnh del: Xóa phần tử được chỉ định
phương thức clear(): xóa tất cả các 
phần tử
Xóa phần tử trong dictionary python bằng phương thức pop()
Phương thức pop() sẽ lầy phần tử ra từ dictionary và sau đó xóa nó.
Chúng ta chỉ định khóa làm đối số của phương thức pop() và xóa phần tử bằng cú pháp sau đây:

dict.pop(khóa[, default])

In [21]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}
# code below this line

for i in keysToRemove:
    new_dict = sampleDict.pop(i)
print(new_dict)
# code above this line

Kelly

In [22]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}

for i in keysToRemove:
    sampleDict.pop(i)
print(sampleDict)

{'age': 25, 'city': 'New york'}

In [25]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}

for i in keysToRemove:
    del sampleDict[i]
print(sampleDict)

{'age': 25, 'city': 'New york'}

In [28]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
  
}
keysToRemove = {"name", "salary"}

for i in keysToRemove:
    x = del sampleDict[i]
print(x) # tại sao code này thì lại lỗi Thầy ơi

SyntaxError: invalid syntax (2856678997.py, line 11)

## Bài 5: Check if a value 200 exists in a dictionary
Hãy kiểm tra xem số 200 có phải là value của dictionary dưới đây không nhé.

**Input**

In [ ]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

**Output**

In [ ]:
True

**Your code**

In [ ]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}
# code below this line

# code above this line

In [9]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

# lấy giá trị có sẵn trong dictionary

for i in sampleDict.keys():
    if sampleDict[i] == 200:
        result = True
        print(result)
        break
# code above this line

True

In [39]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

for i in sampleDict.values():
    if i == 200:
        result = True
        print(result)
        break

True

In [10]:
sampleDict = {'a': 100, 'b': 200, 'c': 300}

print(200 in sampleDict.values()):

SyntaxError: invalid syntax (624880977.py, line 3)

## Bài 6: rename key
Hãy thay thế key `city` thành `location` trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

**Output**

In [ ]:
{
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "location": "New york"
}

**Your code**

In [11]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict['city']

print(sampleDict)
# code above this line

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york', 'location': 'New york'}

In [12]:
sampleDict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sampleDict['location'] = sampleDict['city']
print(sampleDict)

del sampleDict['city']
print(sampleDict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'city': 'New york', 'location': 'New york'}
{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

## Bài 7: key of minimum value
Hãy in ra key chứa value nhỏ nhất trong dictionary dưới đây.

**Input**

In [ ]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

**Output**

In [ ]:
Math

**Your code**

In [ ]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
# code below this line
num = sampleDict['Physics']
for i in sampleDict.values():
    if i > num:
        i = num
        num = sampleDict[i]
        
# code above this line

In [13]:
sampleDict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
# code below this line
num = sampleDict['Physics']
min(sampleDict.values())

65

## Bài 8: new salary
Hãy tăng lương(`salary`) cho Brad từ 6500 lên 8500 trong dictionary dưới đây nhé.

**Input**

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}

**Output**

In [ ]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 8500}
}

**Your code**

In [47]:
sampleDict = {
     'emp1': {'name': 'Jhon', 'salary': 7500},
     'emp2': {'name': 'Emma', 'salary': 8000},
     'emp3': {'name': 'Brad', 'salary': 6500}
}
# code below this line
for i in sampleDict:
    if sampleDict[i]['name'] == 'Brad':
        sampleDict[i]['salary'] = 8500

print(sampleDict)
        

# code above this line

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}